html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

img {
    max-width: 1200px;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}